.root {
	-background-color: rgba(240, 235, 242, 0.9);
	-border-color: rgba(160, 160, 160, 0.8);
	-halo-color: rgba(80, 80, 80, 0.8);
	-title-color:  linear-gradient(to bottom, rgb(0, 50, 60), rgb(0, 80, 80));
}

.ulo-node-border {
	-fx-stroke: darkslategrey;
	-fx-stroke-type: inside;
	-fx-stroke-width: 1;
	-fx-arc-width: 6;
	-fx-arc-height: 6;
	-fx-fill: null;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.ulo-node-inner {
	-fx-stroke: darkslategrey;
	-fx-fill: rgb(249,247,250);
	-fx-stroke-type: inside;
	-fx-stroke-width: 1;
}

.ulo-node-inner2 {
	-fx-stroke: darkslategrey;
	-fx-fill: rgb(249,247,250);
	-fx-stroke-type: inside;
	-fx-stroke-width: 1;
}

.ulo-node-header {
	-fx-padding: 2 5 2 5;
	-fx-background-color: -title-color;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: -border-color;
	-fx-opacity: 0.9;
	-fx-font-size: 11;
}

.ulo-node-title {
	-fx-font-size: 11;
	-fx-padding: 2 5 2 5;
	-fx-background-color: -title-color;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: -border-color;
	-fx-opacity: 0.9;
}

.ulo-node-background {
	-fx-fill: rgb(0,255,0);
	-fx-stroke: deepskyblue;
	-fx-stroke-type: inside;
	-fx-stroke-width: 1;
	-fx-arc-width: 6;
	-fx-arc-height: 6;
}

.ulo-node-background:selected {
	-fx-fill: derive(rgb(249,247,250), -5%);
}

.ulo-node-selection-halo {
	-fx-stroke: deepskyblue;
	-fx-stroke-type: inside;
	-fx-stroke-line-cap: butt;
	-fx-fill: null;
}

.ulo-node-button {
	-fx-padding: 0 0 0 0;
	-fx-font-size: 8;
	-fx-stroke: red;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.ulo-node-button .icon {
	-fx-font-family: FontAwesome;
	-fx-font-size: 14;
	-fx-fill: red;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.ulo-node-button:hover .icon {
	-fx-fill: derive(deepskyblue, -5%);
}

.ulo-node-button:pressed .icon {
	-fx-fill: derive(deepskyblue, 20%);
}

.ulo-input-connector, .ulo-output-connector {
	-fx-stroke: darkslategrey;
	-fx-stroke-type: inside;
	-fx-fill: white;
	-fx-stroke-width: 1;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.ulo-input-connector:hover, .ulo-input-connector:pressed, .ulo-output-connector:hover, .ulo-output-connector:pressed {
	-fx-stroke-width: 2;
}

.ulo-input-connector:allowed, .ulo-output-connector:allowed {
	-fx-stroke-width: 2;
	-fx-fill: mediumseagreen;
}

.ulo-input-connector:forbidden, .ulo-output-connector:forbidden {
	-fx-stroke-width: 2;
	-fx-fill: tomato;
}

.ulo-connection .arrow-line {
	-fx-stroke: darkslategrey;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.ulo-connection-background .arrow-line {
	-fx-stroke-width: 9;
	-fx-stroke: transparent;
}

.ulo-connection .arrow-head {
	-fx-stroke: darkslategrey;
	-fx-fill: white;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.ulo-connection-background .arrow-head {
	-fx-stroke-width: 3;
	-fx-stroke: transparent;
	-fx-fill: transparent;
}

.ulo-connection-selection-halo {
	-fx-stroke-width: 1;
	-fx-stroke: deepskyblue;
	-fx-stroke-dash-array: 4 4;
}

.ulo-tail .arrow-line  {
	-fx-stroke: derive(darkslategrey, 100%);
	-fx-effect: dropshadow(one-pass-box, lightgrey, 5, 0, 1, 1);
}

.ulo-tail .arrow-head  {
	-fx-stroke: derive(darkslategrey, 100%);
	-fx-stroke-type: inside;
	-fx-fill: white;
	-fx-effect: dropshadow(one-pass-box, lightgrey, 5, 0, 1, 1);
}