.graph-editor {
	-fx-background-color: white;
}

.graph-editor-node-layer, .graph-editor-connection-layer {
	-fx-padding: 15;
}

.graph-editor-selection-box {
	-fx-stroke: deepskyblue;
	-fx-stroke-type: inside;
	-fx-fill: rgba(135, 206, 250, 0.2);
}

.minimap {
    -fx-border-color: rgb(180, 180, 180);
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgb(180, 180, 180), 5, 0, 0, 0);
}

.minimap-node {
    -fx-stroke: grey;
    -fx-stroke-type: inside;
    -fx-stroke-width: 1;
    -fx-fill: rgb(249, 247, 250);
}

.minimap-node:selected {
    -fx-fill: derive(rgb(249,247,250), -5%);
}

.minimap-locator {
    -fx-border-color: rgba(135, 206, 250, 0.65);
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-background-color: rgba(255, 255, 255, 0);
}

.hyperlink.zoom-in,
.hyperlink.zoom-out {
    -fx-font-size: 120%;
}
.hyperlink.zoom {
    -fx-font-weight: bold;
}


.scroll-bar:vertical .thumb {
    -fx-background-insets: 0 2 0 0;
}
.scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 0 2 0;
}
.graph-editor-scroll-bar .decrement-arrow,
.graph-editor-scroll-bar .decrement-button,
.graph-editor-scroll-bar .increment-button,
.graph-editor-scroll-bar .increment-arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-color: transparent;
}
.graph-editor-scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}
.graph-editor-scroll-bar .thumb {
    -fx-background-color: black;
    -fx-background-radius: 1000;
    -fx-opacity: 0.2;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}
.graph-editor-scroll-bar .thumb:hover {
    -fx-opacity: 0.5;
}